/*credit to user "erickkf600" on Bootsnipp.com for initial Navbar code*/

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0px;
}

header {
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.name {
	font-family: 'Lexend Peta', sans-serif;
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 1000;
	font-family: 'Lexend Peta'
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: black;
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;
	;
}

.song-name {
	font-family: "Roboto Slab", sans-serif;
	color: white;
	text-align: center;
}

nav ul li a {
	position: relative;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

nav ul li a:hover {
	color: white;
	text-decoration: none;
}

nav ul li a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover::before {
	visibility: visible;
	transform: scaleX(1);
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

.page-header {
	transform: translateY(80px);
	color: white;
	text-align: center;
	height: 0;
	font-family: 'Roboto Slab', sans-serif;

}

.page-header h1 {
	text-align: center;
	background-color: #42183c;
	font-family: 'Lexend Peta', sans-serif;
	text-emphasis: bold;
	padding-top: 50px;
	padding-bottom: 25px;
}

.content {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 24px;
	color: white;
	transform: translateY(140px);
	text-align: left;
	margin: 90px;
	text-indent: 50px;
	flex-wrap: wrap;

}

.projects {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 24px;
	color: white;
	transform: translateY(140px);
	text-align: center;
	margin: 90px;
	text-indent: 50px;

}

.welcome {
	color: white;
	transform: translateY(-500px);
	text-align: right;
	margin-right: 90px;
	margin-left: 90px;
	font-family: "Roboto Slab", sans-serif;
	height: 0;
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
	-moz-animation: fadeIn ease 3s;
	-o-animation: fadeIn ease 3s;
	-ms-animation: fadeIn ease 3s;
}

.bttn {
	background-color: #42183c;
	font-size: 18px;
	color: white;
	font-family: "Roboto Slab", sans-serif;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	box-shadow: 5px 10px;
}

.bttn:hover {
	color: grey;
	text-decoration: none;
}

.bttn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.bttn:hover::before {
	transform: scaleX(1);
}

.fa-twitter {
	color: white;
	background-color: #42183c;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
}

.fa-instagram {
	background-color: #42183c;
	color: white;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 5px;
}

.fa-linkedin {
	background-color: #42183c;
	color: white;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
}

.fa:hover {
	color: grey;
	opacity: .7;
	text-decoration: none;
}

iframe {
	transform: translateY(250px);
	padding: 10px;
}

.portrait {
	width: 50%;
	margin: 30px;
	flex-shrink: unset;
}

@media(max-width: 1400px) {

	.name {
		position: fixed;
		top: 0;
		margin-top: 16px;
	}

	nav ul {
		max-height: 0px;
		background: #000;
	}

	nav.black ul {
		background: #000;
	}

	.showing {
		max-height: 34em;
	}

	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}